<header>
        <div class="item">
            <div class="logo">
                <img src='http://iiitvadodara.ac.in/img/Logo.jpg' alt="iiitv-logo.png" class="logo-img"/>
            </div>
            <div class="logo-name">
                <h3>Indian Institute of Information Technology Vadodara</h3>
                <span>(Institute of National Importance under Act of Parliament)    </span>
            </div>
            
        </div>
</header>