<div id='member-model'>
  <table>
    <h4>Organiser Details</h4>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Institute/university</th>
      <th>Student ID</th>
      <th>Contact Number</th>
    </tr>

  <tr id="mark3">    
    <td>
      <input placeholder="Position" name="posm">
    </td>

    <td>
      <input placeholder="Name" name="namem">
    </td>

    <td>
      <input placeholder="Institute/University" name="insm">
    </td>

    <td>
      <input placeholder="ID" name="idm">
    </td>

    <td>
      <input placeholder="Contact no." name="numberm">
    </td>
    </tr>

</table>

</div>
<div class="member-btn">
  <button id="member-btn" class="fa fa-plus" onclick="mymember()"> Add More </button>
</div>
</hr>


























{{!-- <div id='member-model'>
  <div id="mark3">
    <div class="mem-row" id="mem-container1">
      <label>Coordinator Name</label>
      <input type="text" placeholder="Coordinator Name" name="namem">
    </div>

     <div class="mem-row" id="mem-container2">
      <label>Student ID</label>
      <input type="number" placeholder="Coordinato ID" name="idm">
    </div>

    <div class="mem-row" id="mem-container">
     <label>Phone No.</label>
     <input type="number" placeholder="Contact no." name="numberm">
    </div>  

  </div>
</div>
<div class="member-btn">
  <button id="member-btn" class="fa fa-plus" onclick="mymember()"> Add More </button>
</div>
</hr> --}}