<hr>
<div id='member-model'>
  <div id="mark3">
    <div class="mem-row" id="mem-container1">
      <label>Coordinator Name</label>
      <input type="text" placeholder="Member Name" name="namem">
    </div>

     <div class="mem-row" id="mem-container2">
      <label>Student ID</label>
      <input type="number" placeholder="Member ID" name="idm">
    </div>

    <div class="mem-row" id="mem-container">
     <label>Phone No.</label>
     <input type="number" placeholder="Contact no." name="numberm">
    </div>  

  </div>
</div>
<div class="member-btn">
  <button id="member-btn" class="fa fa-plus" onclick="mymember()"> Add More </button>
</div>

</hr>