
  <li><i class="fa fa-home"></i><a href="/">Home</a></li>
  <li><i class="fa fa-eye"></i><a href="/show">Event</a></li>
  <li><i class="fa fa-sign-in"></i><a href="/Sign-in">Sign-in</a></li>
  <li><a href="/sign-up">Sign-up</a></li>
