<div id='prewinner-model'>
  <table>
    <tr>
      <th>Position</th>
      <th>Pre-Event Winner Name</th>
      <th>Pre-Event Winner ID</th>
      <th>Institute/University</th>
      <th>Contact Number</th>
      <th>Prize(INR)</th>
    </tr>

  <tr name="prewinner" id="mark6">

    <td>
      <input placeholder="Position" name="preposw">
    </td>

  <td>
    <input placeholder="Name" name="prenamew">
  </td>

  <td>
    <input placeholder=" ID" name="preidw">
  </td>

  <td>
      <input placeholder="Institute/University" name="preinsw">
    </td>

  

  <td>
    <input placeholder="Contact no."name="prenumberw">
  </td>

  <td>
    <input placeholder="Amount" name="preprizew">
  </td>
  </tr>
  </table>

</div>


<div class="member-btn">
 <button onclick="myprewinner()" class="fa fa-plus">Add More</button>
</div>

</hr>








{{!-- <hr>
<div id="prewinner-model">
  <div id="mark6">
    <div class="prewin-row" id="prewin-container1">
      <label>Pre-Event Winner</label>
      <input type="text" placeholder="Name" name="prenamew">
    </div>
  
    <div class="prewin-row" id="prewin-container2">
      <label>Student ID</label>
      <input type="number" placeholder="  ID" name="preidw">
    </div>
    <br>
    <div class="prewin-row" id="prewin-container3">
      <label>Phone No.</label>
      <input type="number" placeholder="Contact no."name="prenumberw">
    </div>  

    <div class="prewin-row" id="prewin-container4">
      <label>Prize</label>
      <input type="number" placeholder="Prize" name="preprizew">
    </div>

  </div>  
 
</div>
<button onclick="myprewinner()" class="fa fa-plus">Add More</button>

 --}}