
<div id='prewinner-model'>
  <table>
    <h4>Pre-Event Winner Details</h4>
    <tr>
      <th>Round</th>
      <th>Position</th>
      <th>Name</th>
      <th>Student ID</th>
      <th>Institute/University</th>
      <th>Contact Number</th>
      <th>Prize(INR)</th>
    </tr>
  {{>preinput}}
  </table>
</div>

<div class="member-btn">
  {{!-- <button onclick="addFields()" class="fa fa-plus">Add f</button> --}}

 <button onclick="myprewinner()" class="fa fa-plus">Add More</button>
</div>

</hr>
