<hr>
<div id="prewinner-model">
  <div id="mark6">
    <div class="prewin-row" id="prewin-container1">
      <label>Pre-Event Winner</label>
      <input type="text" placeholder="Name" name="prenamew">
    </div>
  
    <div class="prewin-row" id="prewin-container2">
      <label>Student ID</label>
      <input type="number" placeholder="  ID" name="preidw">
    </div>
    <br>
    <div class="prewin-row" id="prewin-container3">
      <label>Phone No.</label>
      <input type="number" placeholder="Contact no."name="prenumberw">
    </div>  

    <div class="prewin-row" id="prewin-container4">
      <label>Prize</label>
      <input type="number" placeholder="Prize" name="preprizew">
    </div>

  </div>  
 
</div>
<button onclick="myprewinner()" class="fa fa-plus">Add More</button>

