<div id='winner-model'>
  <table>
    <h4>Winner Details</h4>
    <tr>
      <th>Position</th>
      <th>Winner Name</th>
      <th>Winner ID</th>
      <th>Institute/University</th>
      <th>Contact Number</th>
      <th>Prize (INR)</th>
    </tr>

  <tr id="mark4">

    <td>
      <input placeholder="Position" name="posw">
    </td>

  <td>
    <input placeholder="Name" name="namew">
  </td>

  <td>
    <input placeholder="  ID" name="idw">
  </td>

  <td>
    <input  placeholder="Institute/University" name="insw">
  </td>
  
  

  <td>
    <input placeholder="Contact no."name="numberw">
  </td>

  <td>
    <input placeholder="Amount" name="prizew">
  </td>
  </tr>
  </table>

</div>
<div class="member-btn">
 <button onclick="mywinner()" class="fa fa-plus">Add More</button>
</div>
</hr>































{{!-- <hr>
<div id="winner-model">
  <div id="mark4">
    <div class="win-row" id="win-container1">
      <label>Winner Name</label>
      <input type="text" placeholder="Name" name="namew">
    </div>
  
    <div class="win-row" id="win-container2">
      <label>Student ID</label>
      <input type="number" placeholder="Member ID" name="idw">
    </div>

    <div class="win-row" id="win-container3">
      <label>Phone No.</label>
      <input type="number" placeholder="Contact no."name="numberw">
    </div>  

    <div class="win-row" id="win-container4">
      <label>Prize</label>
      <input type="number" placeholder="Prize" name="prizew">
    </div>
  </div>  
</div>
<button onclick="mywinner()" class="fa fa-plus"> Add More </button>
<hr>  
 --}}