<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>show Data</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta http-equiv="refresh" content="delay_time; URL=new_website_url" />
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/show.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
  {{>header}}
  <hr>
  {{>navbar}}
  <div>
    {{>showbar}}
  </div>
  {{!-- {{>report}} --}}
</body>
<script>
  const panels = document.querySelectorAll(".panel");
  panels.forEach((panel)=>{
    panel.addEventListner("click",()=>{
      removeActiveClasses();
      panel.classList.add("active");
    })
  });
  const removeActiveClasses=()=>{
    panels.forEach((panel)=>{
      panels.classList.remove("active");
    })
  };
 
</script>

</html>